<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <!-- <aside class="menu-sidebar d-none d-lg-block"></aside>
    <div class="logo">
      <a href="#">
        <img src="assets/images/products/logo.png" alt="bookify" class="img-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
  </aside> -->
  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <app-navigation></app-navigation>
    </header>
    <!-- END HEADER DESKTOP-->
    <app-product-category-menu></app-product-category-menu>
    <router-outlet></router-outlet>
    <!-- MAIN CONTENT-->
    <!-- <app-product-list></app-product-list> -->

    </div>
</div>
    <footer>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </footer>